Custom
__pycache__/
pocket/
checkpoints/
pretrained/
Custom_v2
Custom_v1
dataset_v3
dataset_v4
.vscode/
logs*
.pth
*FinalResults*
*.jpg
*Results_Phase3*
runit.txt
*Phase3_*
*Oct_Exp
*.csv
*.json
*sys_results*
sys_test/
test_trials_*
